<app-header></app-header>
<!-- <h3 class="head">Basic Form</h3>
<form #basicForm="ngForm" (ngSubmit)= "getData(basicForm)">
  <input type="text" ngModel name="username" placeholder="Enter your username"><br><br>
  <input type="email" ngModel name="email" placeholder="Enter your password"><br><br>
  <input type="password" ngModel name="password" placeholder="Enter your password"><br><br>
  <button>Register</button>
</form> -->

<p>
	<ngb-alert [dismissible]="false">
		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</ngb-alert>
</p>

