
#cv-form{
    background-color:rgb(204 204 210);
}
#cv-template{
    
    /* display: none; */
}
.myImg{
    /* border: 1px solid red; */
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.background{
    background-color: aqua;
}
.head{
    background-color: aqua;
}